html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

:root{
    --official_color_main: #8619df;
    --main_bg_color: #ffff;
    --product-width: clamp(350px, 36vw, 650px);
}

::selection{
    background-color: rgba(0,0,0,0.5);
    color: white;
}

::-webkit-scrollbar{
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-track{
    background-color: rgb(84, 78, 85);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(166, 239, 252);
    border: 2px solid rgb(84, 78, 85);
    /* border-radius: 4px; */
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(68, 204, 228);
}

.sub_title{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.sub_title_white_border{
    border: 14px solid white;
    border-top: none;
    border-bottom: none;
}
.sub_title_purple_border{
    border: 14px solid var(--official_color_main);
    border-top: none;
    border-bottom: none;
}

.secondL_sub_title{/*second level subtitle*/
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: overline;
}

.body_text{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    margin-bottom: 1.1rem;
    font-size: 1rem;
    letter-spacing: 1.3px;
    line-height: 1.5;
}

.centered_text{
    text-align: center;
}

.white_text{
    color: white;
}

.purple_text{
    color: var(--official_color_main);
}

#plastered_back_image{
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-image: url("./img/img-coding-laptop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    z-index: -10;
    -webkit-user-select: none;
    user-select: none;
}

/*--------------HEADER SECTION-------------*/
#main_heading_section{
    position: relative;
}

#header_section{
    width: 100%;
    height: 470px;
    margin-top: 20px;
    padding: 10px 100px;
    box-sizing: border-box;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--main_bg_color); */
}

#header_main_title_container{
    display: inline-block;
    width: 48%;
    max-width: 600px;
    padding: 20px;
    /* border-left: 10px dotted white; */
}

#header_main_title_container>:nth-child(1){
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    color: white;
    font-size: 32px;
}

#header_main_title_container>:nth-child(2){
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    color: white;
    font-size: 64px;
    font-weight: bold;
}

#header_graphic_shapes_container{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 35%;
    max-width: 550px;
    height: auto;
}

.header_graphic_blob_obj{
    width: 100%;
    animation: header_blob_anim 6.5s ease-in-out infinite;
    /* animation-name: header_blob_anim;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}

@keyframes header_blob_anim {
    0%{
        transform: scale(1,1) translate(0px,0px) skew(0deg, 0deg);
    }
    25%{
        transform: scale(0.97,0.97) translate(20px,15px) skewX(5deg);
    }
    50%{
        transform: scale(0.95,0.9) translate(-25px,5px) skewY(8deg);
    }
    75%{
        transform: scale(0.98,0.9) translate(10px,-10px) skew(10deg, -5deg);
    }
    100%{
        transform: scale(1,1) translate(0px,0px) skew(0deg, 0deg);
    }
}

.header_graphic_gear_obj{
    width: 50%;
    position: absolute;
}

.header_graphic_gear_l{
    top: 40%;
    right: 32%;
    animation: header_gear_rot_anim_l 3.5s linear infinite;
}

.header_graphic_gear_r{
    top: 32%;
    right: -5%;
    animation: header_gear_rot_anim_r 3.5s linear infinite;
}

@keyframes header_gear_rot_anim_l {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes header_gear_rot_anim_r {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}

.header_circle_obj{
    width: 55%;
    position: absolute;
    top: 8%;
    left: -10px;
}


/*--------------Navigation SECTION-------------*/
#navigation_section{
    position: relative;
    width: 100%;
    height: 200px;
    /* text-align: center; */
    /* padding: 20px 0px; */
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top_mirrored_wavey_svg{
    width: 100%;
    height: 550px;
    position: absolute;
    top: -110px;
    background: url("./img/header-wave-mirrored.svg");
    background-repeat: repeat-x;
    background-position: center;
    /* background-size: 70%; */
    /* transform: scaleY(0.8); */
    /* opacity: 0.5; */
}

#nav_items_container{
    display: inline-block;
    width: 100%;
    max-width: 700px;
    transform: translateY(70px);
}

#navigation_section ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    list-style-type: none;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navigation_section ul>li{
    display: inline-block;
    /* margin: 0px 30px; */
}

#navigation_section ul>li a{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.4rem;
    box-sizing: border-box;
    border: 2px solid var(--official_color_main);
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(103, 68, 129);
    background-color: white;
    box-shadow: 0px 10px 20px rgba(61, 42, 60, 0.4);
    transition: padding 0.2s ease-in;
}
#navigation_section ul>li a:hover{
    background-color: rgb(188, 77, 231);
    color: white;
    border-color: white;
    padding-left:2.4rem;
    padding-right:2.4rem;
    /* transform: scale(1.2,1.2); */
    /* color: white; */
}
#navigation_section ul>li a:active{
    transform: scale(0.9,0.9);
    padding: 1rem 1.4rem;
    color: rgb(103, 68, 129);
    background-color: white;
}

#navigation_section ul>li i{
    font-size: 120%;
}

/*--------------PRE-BODY QUOTE SECTION-------------*/
#prebody_quote_section{
    width: 100%;
    height: 500px;
    background: linear-gradient(45deg, rgb(117, 91, 233), #a039f5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#prebody_quote_section>p{
    max-width: 60%;
}

#prebody_quote_section>.quote_section_snowman_icon{
    font-size: x-large;
    color: white;
}

/*----------------- MAIN SECTION ------------------*/
#projects_section{
    background-color: white;
    width: 100%;
    position: relative;
    padding: 120px 0px;
    padding-bottom: 300px;
}
#projects_section::after{
    content: "";
    /* color: red; */
    background-image: url("./img/mainBody-transToWhite-transition.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 200px;
    position: absolute;
    top: -180px;
}

#projects_list_container{
    height: fit-content;
    margin-top: 50px;
    background-image: url("./img/mainBody-wave.svg");
    background-repeat: repeat;
}

#projects_list_inner_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.project_item{
    display: inline-block;
    position: relative;
    width: var(--product-width);
    height: calc(var(--product-width) - 130px);
    margin: 2.6% 2%;
    /* border: 5px solid var(--official_color_main); */
    /* border-radius: 5px; */
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(93, 24, 150, 0.5);
    background-color: black;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}
.project_item:hover{
    box-shadow: 0px 17px 42px rgba(134, 25, 223, 0.7);
    transform: translateY(-12px);
    border: 2px solid white;
}
.project_item:active{
    transform: scale(0.96,0.96);
    transition-duration: 0.05s;
}

.project_item>.project_description_container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30%;
    background-color: rgb(141, 91, 233);
    /* backdrop-filter: blur(10px); */
    padding: 0vw 1.8vw;
    box-sizing: border-box;
    transition: height 0.2s ease-in-out;
    font-size: 1vw;
}

.project_name{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: clamp(10px, 1vw, 25px);
    margin-bottom: 5px;
    transition: font-size 0.2s ease-in;
}

.project_description{
    color: white;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size 0.2s ease-in;
    margin: 5px 0px;
}

.project_item:hover .project_description_container{
    height: 40%;
    max-height:none;
}
.project_item:hover .project_name{
    font-size: 1.7em;
}
.project_item:hover .project_description{
    white-space:normal;
    font-size: 1em;
}

.project_item>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*--------------------- ABOUT SECTION -----------------------*/
#about_section{
    width: 100%;
    background-color: #755be9;
    box-sizing: border-box;
    position: relative;
    padding: 100px 0px;
    padding-bottom: 300px;
}

#about_section::after{
    content: "";
    /* color: red; */
    background-image: url("./img/aboutUs-whiteToPurple-stacked-transition.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 264px;
    position: absolute;
    top: -240px;
}

#about_details_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 40px;
}

/*-- TECHNOLOGIES ICONS --*/
#technologies_icons_wraper{
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgba(255,255,255,0.4);
    font-size: 4.5rem;
    width: 70%;
    max-width: 750px;
}

#technologies_icons_wraper>i{
    animation-name: icons_beating_anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
#technologies_icons_wraper>i[class = "fa-solid fa-code"]{
    font-size: 67px;
}

@keyframes icons_beating_anim {
    0%{
        transform: scale(0.92,0.92);
    }
    50%{
        transform: scale(1.2,1.2);
    }
    100%{
        transform: scale(0.92,0.92);
    }
}

#professonal_summary_wrapper{
    width: 70%;
    max-width: 750px;
}

#skills_list{
    padding: 0px;
    text-align: center;
}

/*----------------- FOOTER SECTION ---------------*/
footer{
    width: 100%;
    background-color: #0f0b1f;
    box-sizing: border-box;
    position: relative;
    padding: 100px 0px;
    padding-bottom: 10px;
}

footer::after{
    content: "";
    background-image: url("./img/footer-purpleTodark-stacked-transition.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 264px;
    position: absolute;
    top: -240px;
}

footer h3::selection,footer p::selection, footer a::selection{
    background-color: rgba(255,255,255,1);
    color: #755be9;
}

#footer_contact_container{
    text-align: center;
}

#footer_contact_container #socials_container{
    margin: 30px 0px;
    margin-top: 70px;
    height: 120px;
}

#footer_contact_container .social_icon{
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin: 0px 20px;
}

#footer_contact_container .social_icon:hover{
    color: #755be9;
}
#footer_contact_container .social_icon:active{
    transform: scale(0.9,0.9);
}

.copyright_text{
    font-size: 0.66rem;
    margin-bottom: 8px;
}

.developer_link{
    font-weight: bold;
    color: inherit;
}

#back2top_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1.8rem;
    right: 1.2rem;
    width: clamp(50px, 3vw, 60px);
    height: clamp(50px, 3vw, 60px);
    padding: 0px;
    border: 2px solid lightgray;
    border-radius: 50%;
    color: var(--official_color_main);
    background-color: white;
    text-decoration: none;
    font-size: 2rem;
    z-index: 2;
    visibility: visible;
    -webkit-user-select: none;
    user-select: none;
}

#back2top_btn:hover{
    transform: translateY(-5px);
}

#back2top_btn:active{
    color: white;
    background-color: var(--official_color_main);
    border-color: white;
    transform: translateY(0px);
}

/*---- for narrow screens ----*/
@media screen and (max-width: 1000px){
    #header_section{
        height: 950px;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        padding: 70px 50px 10px 50px;
    }

    #header_main_title_container{
        display: block;
        width: 80%;
        max-width: none;
    }

    #header_graphic_shapes_container{
        display: block;
        width: 100%;
    }

    #nav_items_container{
        max-width: 90%;
    }

    #navigation_section ul>li a{
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 1.2rem 2rem;
    }

    #navigation_section ul>li a:hover{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #navigation_section ul>li a:active{
        padding: 1.2rem 2rem;
    }

    #top_mirrored_wavey_svg{
        height: 550px;
    }

    #prebody_quote_section>p{
        max-width: 80%;
    }

    #prebody_quote_section>p{
        font-size: x-large;
    }

    #prebody_quote_section>.quote_section_snowman_icon{
        font-size: xx-large;
    }

    .project_item{
        display: block;
        width: 80%;
        max-width: 700px;
        height: 550px;
        margin: 45px 0px;
    }

    .project_name{
        font-size: 3em;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .project_description{
        font-size: 2.2em;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .project_item>.project_description_container{
        height: 25%;
        padding: 0vw 1.8vw;
        padding-top: 1vw;
    }
    
    .project_item:hover .project_name{
        font-size: 3.7em;
    }
    .project_item:hover .project_description{
        font-size: 2.5em;
    }

    .sub_title{
        font-size: 1.76rem;
    }

    .sub_title_white_border{
        border-width: 20px;
    }
    .sub_title_purple_border{
        border-width: 20px;
    }

    .body_text{
        font-size: 1.5rem;
    }

    #footer_contact_container #socials_container{
        margin-top: 40px;
        height: 200px;
    }

    #footer_contact_container .social_icon{
        font-size: 50px;
        margin: 50px 30px;
    }

    .copyright_text{
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        font-size: 0.8rem;
        margin-bottom: 8px;
    }

    #back2top_btn{
        width: clamp(40px, 8vw, 100px);
        height: clamp(40px, 8vw, 100px);
        font-size: 2rem;
    }
}